<!DOCTYPE html>
<html ng-app="instrumentApp">

    <head>
        <script data-require="angular.js@*" data-semver="1.5.8" 
            src="https://code.angularjs.org/1.5.8/angular.js"></script>
        <link rel="stylesheet" href="style.css" />
        <script src="./app/app.module.js"></script>
    </head>

    <body ng-controller="InstrumentCtrl">
        <h1>Instrumap</h1>
<!--         <div ng-click="go('/instruments/' + instrument.url)"> -->
<!--         <div ng-click="go(instrument.name)">
 -->
<!--             <ul>
 -->                <div ng-repeat="instrument in instruments">
                        <div ng-click="go('/instruments/' + instrument.name)">
                            {{ instrument.name }}
                        </div>
                    </div>
<!--             </ul>
 -->        </div>
    </body>

</html>
