.hidden {
	display: none;
}

.center {
	width: 45%;
	float: left;
}
.window {
	padding: 20px;
	background-color: lightyellow;
	overflow: auto;
	width: 90%;
	margin: auto;
}

#keyboardDisplay {
	background-color: lightgreen;
	padding: 35px 10px 20px 10px;
	overflow: auto;
	position: relative;
	height: 100px;
	white-space: nowrap;
}
.content {
	text-align: center;
}
li {
	list-style-type: none;
	display: inline-block;
}

.note-buttons {
	width: 45px;
	height: 100px;
	display: inline-block;
	border-radius: 8px;
	background-color: #eee9e9;
/*	float: left;
	margin: auto;*/
}

.instrumentButtons {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

.keyboardButtons {
/*	position: relative;
	height: 80px;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	float: left;*/
}

.natural p {
	color: red;
	position: relative;
	top: 30px;
}

.enharmonic p {
	color: red;
	position: relative;
	top: 12px;
}
.enharmonic {
	background-color: black;
	position: relative;
	width: 35px;
	height: 70px;
	color: white;
	margin: 0 5px;
	left: 22px;
}

.extraSpace {
	margin-right: 50px;
}
#blackKeys {
	position: absolute;
	top: 30px;
}

#instrument-display {
/*	margin: auto;
	width: 50%;
	height: auto;
	border-style: dotted;
	border-width: 3px;
	position: relative;*/
	background-color: lightblue;
	overflow: auto;
}

img.base, img.overlay {

}

img.base {
	border-style: solid;
	border-width: 2px;
}

/*img.overlay {
	position: absolute;
}
*/
.buttonsOverlay {
	position: absolute;
	top: 0;
	border-style: dashed;
	border-width: 3px;
	left: 3%;
}