h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 75px;
	display: inline-block;
}

#header {
	text-align: center;
}
h2#menu {
	font-family: 'Anton', sans-serif;
	font-size: 30px;
}

h3, a {
	font-family: 'Great Vibes', cursive;
	font-size: 40px;
/*	position: absolute;
*/	z-index: 2;
	top: 0;
}

i.fa.fa-compass {
	cursor: pointer;
	font-size: 65px; 
	display: inline-block;
}

#welcome {
	background-image: url('../images/homemap-background.jpg');
	width: 70%;
	margin: 0 auto 50px;
	padding: 120px 60px;
	text-align: center;
	height: 200px;
	background-size: cover;
}

#welcome p {
	font-family: 'Raleway', sans-serif;	
	font-size: 25px;
}

body {
	background-image: url('../images/map-background.jpg');
	background-size: cover;
}

.navoverlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden; 
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.navoverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.navoverlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.navoverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.hidden {
	display: none;
}

.center {
	width: 45%;
	float: left;
}

.halfcontainer {
	box-sizing: border-box;
	display: inline-block;
	width: 45%;
	vertical-align: top;
/*	height: 80vh;
*/}
.window {
	padding: 20px;
	background-color: lightyellow;
	margin: auto;
	position: relative;
	display: table;
	width: 90%;
	height: 80vh;
}

#keyboardDisplay {
	box-sizing: border-box;
	background-color: lightgreen;
	padding: 35px 10px 20px 10px;
	width: 60%;
	overflow: auto;
	position: relative;
	height: auto;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
}

#whiteKeys {
	float: left;
}

.content {
	text-align: center;
}
li {
	list-style-type: none;
	display: inline-block;
}

.note-buttons {
	width: 45px;
	height: 100px;
	display: inline-block;
	border-radius: 8px;
	background-color: #eee9e9;
/*	float: left;
	margin: auto;*/
}

.instrumentButtons {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

.keyboardButtons {
/*	position: relative;
	height: 80px;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	float: left;*/
}

.natural p {
	color: red;
	position: relative;
	top: 30px;
}

.enharmonic p {
	color: red;
	position: relative;
	top: 12px;
}
.enharmonic {
	background-color: black;
	position: relative;
	width: 35px;
	height: 70px;
	color: white;
	margin: 0 5px;
	left: 22px;
}

.extraSpace {
	margin-right: 50px;
}
#blackKeys {
	position: absolute;
	top: 30px;
}

#instrument-display {
	overflow: auto;
	position: relative;
	margin: auto;
	display: inline-block;
	box-sizing: border-box;
}

img.overlay {
	position: absolute;
	top: 0;
	left: 0;
}

img {
	max-height: 600px;
	max-width: 100%;
}
/*img.overlay {
	position: absolute;
}
*/

div#baseimg {
	background-size: contain;
}
.buttonsOverlay {
	position: absolute;
	top: 0;
	border-style: dashed;
	border-width: 3px;
	left: 3%;
}


@media screen and (max-height: 450px) {
    .navoverlay a {font-size: 20px}
    .navoverlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 840px) {
	.halfcontainer {
		width: 100%;
	}
	img {
		max-height: 600px;
		max-width: 250px;
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 45px;
	}
	i.fa.fa-compass {
		font-size: 40px; 
	}

}